.section {
  margin-bottom: 128px;
}
.is-relative {
  position: relative;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  position: relative;
  width: 85%;

  &.narrow {
    max-width: 600px;
  }
  &.small {
    max-width: 900px;
  }
  &.wide {
    width: 100%;
    max-width: 1400px;
  }
  &.full-width {
    width: 100%;
    max-width: initial;
  }
}
main.container {
  padding-top: 96px;
}

/* div appearance */
.highlight {
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.has-padding {
  padding: 40px;
}
.rounded {
  border-radius: 24px;
  box-sizing: border-box;
  padding: 40px;
}
.dark {
  background-color: $dark;
  color: white;
  .alpha {
    background-color: rgba(255,255,255,0.5);
  }
}
.accent-bg {
  background-color: $accent;
  color: white;
}
.danger-bg {
  background-color: $danger;
  color: white;
}
.white {
  background-color: white;
  color: $text;
  .alpha {
    background-color: rgba(0,0,0,0.5);
  }
}
.gradient {
  background-image: radial-gradient(circle, $accent-light, $accent);
  .alpha {
    background-color: rgba(0,0,0,0.5);
  }
}
.dashed {
  border-color: gray;
  border-style: dashed;
  border-width: 0;
  &.top {
    border-top-width: 1px;
  }
  &.left {
    border-left-width: 1px;
  }
  &.right {
    border-right-width: 1px;
  }
  &.bottom {
    border-bottom-width: 1px;
  }
}
.snippet {
  border-radius: 8px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    &.has-padding {
      padding: 24px;
    }
    &.full-width-xs {
      width: 100%;
    }
    &.rounded {
      padding: 32px;
    }
  }
}

/* flex */
.is-flex {
  display: flex;
}

/* align items */
.is-ai-flex-start {
  align-items: flex-start;
}
.is-ai-center {
  align-items: center;
}
.is-ai-flex-end {
  align-items: flex-end;
}
.is-ai-stretch {
  align-items: stretch;
}

/* justify content */
.is-jc-flex-start {
  justify-content: flex-start;
}
.is-jc-center {
  justify-content: center;
}
.is-jc-flex-end {
  justify-content: flex-end;
}
.is-jc-space-between {
  justify-content: space-between;
}

/* columns */
.row {
  display: flex;
  &.col-has-padding {
    margin: 0 -16px;
    & > .col {
      padding: 16px;
    }
    &.wide-padding {
      margin: 0 -32px;
      & > .col {
        padding: 32px;
      }
    }
    &.small-padding {
      margin: 0 -8px;
      & > .col {
        padding: 8px;
      }
    }
  }
}
.col {
  box-sizing: border-box;
  &.rounded, .rounded {
    border-radius: 32px;
    padding: 32px;
  }
}
@media screen and (max-width: 767px) {
  .row {
    &.col-has-padding {
      margin: 0 -8px;
      & > .col {
        padding: 8px;
      }
      &.wide-padding {
        margin: 0 -24px;
        & > .col {
          padding: 24px;
        }
      }
    }
  }
}
.col-9 {
  flex-basis: 75%;
}
.col-8 {
  flex-basis: 66%;
}
.col-6 {
  flex-basis: 50%;
}
.col-4 {
  flex-basis: 33%;
}
.col-3 {
  flex-basis: 25%;
}
@media screen and (max-width: 767px) {
  .row-xs, .row {
    display: block;
  }
  .row.row-xxs {
    display: flex;
  }
}
@media screen and (max-width: 567px) {
  .row.row-xxs {
    display: block;
  }
}

/* hide */
.is-hidden {
  display: none;
}
@media screen and (max-width: 767px) {
  .is-hidden-xs {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-hidden-sm {
    display: none;
  }
}

/* wrap */
.wrapped {
  flex-wrap: wrap;
}

/* image containers */
img.img-rounded {
  border-radius: 50%;
}
img {
  max-width: 100%;
}

/* xs width */
@media screen and (max-width: 767px) {
  .width-90-xs {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

