/* tabs */ 
.tabs {
    display: flex;
    justify-content: center;
    list-style: none !important;
    .dark .tab-item {
      border: 2px solid white;
      color: white;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.active {
        background-color: white;
        color: $text;
        &:hover {
          background-color: $text;
        }
      }
    }
    .tab-item, .white .tab-item {
      border: 2px solid $text;
      color: $text;
      cursor: pointer;
      padding: 16px 24px;
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &:hover {
        background-color: rgba(24, 27, 31, 0.1);
      }
      &.active {
        background-color: $text;
        color: white;
        &:hover {
          background-color: $text;
        }
      }
    }
  }
  
  /* badges */
  .badge {
    align-items: center;
    background-color: $text;
    border-radius: 999px;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    min-width: 40px;
    &.red {
      background-color: $danger
    }
  }
  
  /* dash */
  .dashed {
    border-color: gray;
    border-style: dashed;
    border-width: 0;
    &.top {
      border-top-width: 1px;
    }
    &.left {
      border-left-width: 1px;
    }
    &.right {
      border-right-width: 1px;
    }
    &.bottom {
      border-bottom-width: 1px;
    }
  }
  
  /* other */
  .recipe {
    .recipe-item {
      text-align: left;
      .col {
        padding-bottom: 0 !important;
      }
      &:not(:last-child) {
        border-bottom: 1px dashed gray;
        .col {
          padding-bottom: 24px !important;
          padding-top: 24px !important;
        }
      }
      .image {
        margin-bottom: 0;
        text-align: right;
      }
    }
  }
  