@import url("https://fonts.googleapis.com/css?family=Kanit:400,700");

body {
  font-family: "Kanit", sans-serif;
  font-size: 12pt;
  font-weight: 400;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin-bottom: 0.5em;
    &.p {
      line-height: 1.4;
    }
  }
  p,
  ol,
  ul {
    line-height: 1.4;
    margin-bottom: 32px;
  }
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.25em;
  }
  small {
    font-size: 0.75em;
  }
  b,
  strong,
  .bold {
    font-weight: 700;
  }
  .image {
    margin-bottom: 40px;
  }
  a:hover {
    color: $accent;
  }
  ol {
    list-style: decimal;
    margin-left: 24px;
  }
  ul {
    list-style: circle;
  }
  .accent {
    color: $accent;
  }
  a.accent:hover {
    color: $accent;
  }
  .gray {
    color: $gray;
  }
}

.larger {
  font-size: 1.4em;
}
.center {
  text-align: center;
  .image,
  img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .center-xs {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* margin/padding */
.no-mb {
  margin-bottom: 0 !important;
}
.no-pb {
  padding-bottom: 0 !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}
.hoverable {
  transition: color 0.3s ease;
  &:hover {
    color: $accent;
  }
}

/* text background */
.masked {
  background-clip: text;
  -webkit-background-clip: text;
}
.masked-item {
  -webkit-text-fill-color: transparent !important;
}
