$accent-light: #469522;
$accent-alpha: rgba(70, 149, 34, 0.2);
$accent: #124800;
$text: #18191B;
$dark: rgb(14, 15, 15);
$dark-alpha: rgba(14, 15, 15, 0.2);
$gray: rgb(81, 83, 88);
$light-gray: rgb(160, 164, 173);
$text-outline: #174217;
$danger: #a7201b;
$danger-alpha: rgba(167, 32, 27, 0.2);

$fb: #3b5998;
$line: #00c300;
