.hero-viet-noodle {
    background-color: $text;
    .hero-background {
        bottom: 40%;
        left: 0;
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    .container {
        margin-top: 96px;
        text-align: center;
        position: relative;
    }
    .hero-head,
    .hero-image,
    .hero-details {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .hero-head-text,
    .hero-details {
        color: white;
    }
    .hero-head {
        margin-bottom: -96px;
        position: relative;
        z-index: 10;
        .hero-head-text {
            width: 600px;
        }
    }
    .hero-image {
        position: relative;
        left: -10%;
        z-index: 20;
        margin-bottom: -96px;
    }
    .hero-details {
        position: relative;
        margin-bottom: 80px;
        width: 400px;
        z-index: 20;
    }
    .shadow {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
        bottom: 0;
        height: 300px;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.ingr-viet-noodle {
    padding-top: 104px;

    .chopping-board-image-wrapper {
        position: sticky;
        top: 10vh;
    }
    .chopping-board-image {
        margin-left: -64px;
        transform: rotateZ(10deg)
    }
    .ingr-item {
        margin-top: 100vh;
        margin-bottom: 40vh;
    }
    .texture-1 {
        background-image: url('../assets/viet_noodle/text_bg_1.png');
        background-repeat: no-repeat;
        color: #e7d5c9
    }
}