.hero-viet-noodle {
    background-color: $text;
    .hero-background {
        bottom: 40%;
        left: 0;
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    .container {
        margin-top: 96px;
        text-align: center;
        position: relative;
    }
    .hero-head,
    .hero-image,
    .hero-details {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .hero-head-text,
    .hero-details {
        color: white;
    }
    .hero-head {
        margin-bottom: -96px;
        position: relative;
        z-index: 10;
        .hero-head-text {
            width: 600px;
        }
    }
    .hero-image {
        position: relative;
        left: -10%;
        z-index: 20;
        margin-bottom: -96px;
    }
    .hero-details {
        position: relative;
        margin-bottom: 80px;
        width: 400px;
        z-index: 20;
    }
    .shadow {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
        bottom: 0;
        height: 300px;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.ingr-viet-noodle {
    padding-top: 104px;

    .chopping-board-image-wrapper {
        position: sticky;
        top: 10vh;
    }
    .chopping-board-image {
        // margin-left: -64px;
        max-width: 100%;
        margin:auto;
        // transform: rotateZ(10deg)
    }
    .ingr-item {
        margin-top: 100vh;
        margin-bottom: 40vh;
    }
    .texture-1 {
        background-image: url('../assets/viet_noodle/text_bg_1.png');
        background-repeat: no-repeat;
        color: #e7d5c9
    }
    .light-circle {
        background-color: white;
        border-radius: 50%;
        box-shadow:0 0 20px 20px;
        height: 100px;
        left: 0;
        mix-blend-mode: overlay;
        position: absolute;
        transition: all 0.5s ease-in-out;
        top: 0;
        width: 100px;
    }
    .phase-0 {
        .light-1,.light-2 {
            opacity: 0;
            top: 0;
            left: 0;
            height: 25%;
            width: 25%;
        }
        .light-1 {
            top: 8%;
            left: 66%;
        }
    }
    .phase-1 {
        .light-1 {
            opacity: 1;
            top: 8%;
            left: 66%;
            height: 25%;
            width: 25%;
        }
        .light-2 {
            opacity: 0;
        }
    }
    .phase-2 {
        .light-1 {
            height: 33%;
            left: 10%;
            opacity: 1;
            top: 50%;
            width: 33%;
        }
        .light-2 {
            opacity: 0;
            top: 0;
            left: 0;
            height: 25%;
            width: 25%;
        }
    }
    .phase-3 {
        .light-1 {
            height: 17%;
            left: 52%;
            opacity: 1;
            top: 65%;
            width: 17%;
        }
        .light-2 {
            height: 17%;
            left: 67%;
            opacity: 1;
            top: 45%;
            width: 17%;
        }
    }
    .phase-4 {
         .light-1 {
            height: 17%;
            left: 41%;
            opacity: 1;
            top: 37%;
            width: 17%;
        }
        .light-2 {
            
            height: 27%;
            left: 30%;
            opacity: 1;
            top: 8%;
            width: 27%;  
        }
    }
}