.hero-viet-noodle {
    .container {
        margin-top: 96px;
    }
    .hero-background {
        bottom: 40%;
        left: 0;
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    .hero-head {
        margin-bottom: -30% !important;
        max-width: 600px;
        position: relative;
        z-index: 10;
    }
    .hero-image {
        transform: translateX(-8%);
        margin-bottom: -10%;
        max-width: 90%;
        z-index: 20;
    }
    .hero-details {
        position: relative;
        margin-bottom: 15%;
        max-width: 400px;
        width: 80%;
        z-index: 20;
    }
    
}
@media screen and (max-width:767px) {
    .hero-viet-noodle {
        .container {
            margin-top: 80px;
        }
    }
}

.ingr-viet-noodle {
    .chopping-board-scroll {
        position: relative;
        margin-left: -64px;
        .chopping-board {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 50%;
            margin-bottom: -50%;
        }
        .chopping-board-image-wrapper {
            top: 50%;
            transform: rotate(10deg) translate(-64px,-50%);
        }
    }
    .texture-1 {
        background-image: url('../assets/viet_noodle/text_bg_1.png');
        background-repeat: no-repeat;
        color: #e7d5c9
    }

    // Lighting
    .light-circle {
        box-shadow:0 0 2em 2.25em;
    }
    .light-1,.light-2,.light-3,.light-4,.light-5,.light-6 {
        opacity: 0;
    }
    .light-1 {
        top: 8%;
        left: 66%;
        height: 25%;
        width: 25%;
    }
    .light-2 {
        height: 33%;
        left: 10%;
        top: 50%;
        width: 33%;
    }
    .light-3 {
        height: 17%;
        left: 52%;
        top: 65%;
        width: 17%;
    }
    .light-4 {
        height: 17%;
        left: 67%;
        top: 45%;
        width: 17%;
    }
    .light-5 {
        height: 17%;
        left: 41%;
        top: 37%;
        width: 17%;
    }
    .light-6 {
        height: 27%;
        left: 30%;
        top: 8%;
        width: 27%;  
    }
    .phase-1 {
        .light-1 {
            opacity: 1;
        }
        .light-2, .light-3,.light-4,.light-5,.light-6 {
            opacity: 0;
        }
    }
    .phase-2 {
        .light-2 {
            opacity: 1;
        }
        .light-1, .light-3,.light-4,.light-5,.light-6 {
            opacity: 0;
        }
    }
    .phase-3 {
        .light-3, .light-4 {
            opacity: 1;
            
        }
        .light-1, .light-2,.light-5,.light-6 {
            opacity: 0;
        }
    }
    .phase-4 {
         .light-5, .light-6 {
             opacity: 1;
            
        }
        .light-1, .light-2,.light-3,.light-4 {
            opacity: 0;
        }
    }
    .sticky-scroll {
        .page:last-child {
            margin-bottom: 10vw;
        }
    }
}
@media screen and (max-width:991px) {
    .ingr-viet-noodle .chopping-board-scroll {
        .chopping-board {
            .chopping-board-image-wrapper {
                transform: rotate(10deg) translate(0,-50%);
            }
        }
    }
}
@media screen and (max-width:767px) {
    .ingr-viet-noodle .chopping-board-scroll {
        .chopping-board {
            margin-left: 0;
            .chopping-board-image-wrapper {
                transform: rotate(10deg);
                margin: auto;
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 440px) {
    .ingr-viet-noodle .chopping-board-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 0;
        display: flex;
        align-items: stretch;
        .chopping-board {
            margin-top: 0;
            margin-bottom: 160px;
            position: relative;
            width: 100%;
            .chopping-board-image-wrapper {
                top: 5vh;
                width: 80%;
            }
        }
    }
    .ingr-viet-noodle .light-circle {
        box-shadow:0 0 1.25em 1.75em;
    }
}