@import "reset";

@import "variables";
@import "typography";
@import "container";

@import "elements";
@import "effects";
@import "nav";
@import "form";

@import "viet_noodle";

html {
  width: 100vw;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}
.page-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}