@import "variables";
@import "typography";
@import "container";

html {
  width: 100vw;
}
@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

::selection {
  background: $accent-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $accent-light; /* Gecko Browsers */
}
