@import "reset";

@import "variables";
@import "typography";
@import "container";

@import "elements";
@import "effects";
@import "nav";

@import "viet_noodle";

html {
  width: 100vw;
}
// @media screen and (max-width: 767px) {
//   html {
//     overflow-x: hidden;
//   }
// }
body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}